body{
    display: flex;
    background-color: aquamarine;
}
.box1{
    background-color: bisque;
    width: 100px;
    height: 10vh;
}
.box2{
    background-color: bisque;
    width: 100px;
    height: 10vh;
}
.box3{
    background-color: bisque;
    width: 100px;
    height: 10vh;
}
.box4{
    background-color: bisque;
    width: 50px;
    height: 10vh;
    
}
.container{
    display: flex;
    justify-content: center;
    text-align:justify;
    
}